openapi: 3.0.3
info:
  title: Applied Industrial Technologies Product Catalog API
  description: >-
    API for accessing the Applied Industrial Technologies product catalog,
    including bearings, power transmission components, fluid power products,
    industrial rubber, linear motion, and related industrial supplies.
  version: 1.0.0
  contact:
    name: Applied Industrial Technologies
    url: https://www.applied-industrial-technologies.com
  license:
    name: Proprietary
  x-generated-from: documentation
  x-apievangelist-provenance: >-
    SCAFFOLD — NOT HARVESTED FROM THE PROVIDER. This document was authored by an API
    Evangelist bulk sweep, not fetched from Applied Industrial Technologies. Verified
    2026-09-04: the servers[] host api.applied-industrial-technologies.com does not
    resolve (NXDOMAIN), and neither does the registrable domain
    applied-industrial-technologies.com used in info.contact.url — the company's real
    domain is applied.com. Applied Industrial Technologies publishes no API reference,
    no developer portal and no machine-readable contract; its live Azure API Management
    gateway at api.applied.com exposes no public operations. Treat every operation,
    path, parameter and schema below as unverified. Do not derive further artifacts
    from it. See x-coverage in apis.yml.
  x-apievangelist-verified: false
servers:
  - url: https://api.applied-industrial-technologies.com/v1
    description: Applied Industrial Technologies API
security:
  - bearerAuth: []
tags:
  - name: Products
    description: Industrial product catalog operations
  - name: Orders
    description: Purchase order management
paths:
  /products:
    get:
      operationId: listProducts
      summary: Applied Industrial Technologies - List Products
      description: Returns a paginated list of industrial products from the catalog
      tags:
        - Products
      parameters:
        - name: category
          in: query
          description: Filter by product category (bearings, power-transmission, fluid-power)
          schema:
            type: string
        - name: manufacturer
          in: query
          description: Filter by manufacturer name
          schema:
            type: string
        - name: inStock
          in: query
          description: Filter to only in-stock products
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of results per page
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A list of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  total:
                    type: integer
                  page:
                    type: integer
              examples:
                ListProductsExample:
                  x-microcks-default: true
                  summary: Example product list response
                  value:
                    data:
                      - productId: AIT-BRG-6205
                        partNumber: 6205-2RS
                        name: Deep Groove Ball Bearing 6205-2RS
                        category: Bearings
                        manufacturer: SKF
                        price: 12.50
                        inStock: true
                    total: 1
                    page: 1
        '401':
          description: Unauthorized - invalid or missing authentication token
  /products/{productId}:
    get:
      operationId: getProduct
      summary: Applied Industrial Technologies - Get Product
      description: Returns details for a specific product by its identifier
      tags:
        - Products
      parameters:
        - name: productId
          in: path
          required: true
          description: Unique product identifier
          schema:
            type: string
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                GetProductExample:
                  x-microcks-default: true
                  summary: Example product detail response
                  value:
                    productId: AIT-BRG-6205
                    partNumber: 6205-2RS
                    name: Deep Groove Ball Bearing 6205-2RS
                    description: Single row deep groove ball bearing with rubber seals on both sides
                    category: Bearings
                    manufacturer: SKF
                    price: 12.50
                    inStock: true
                    leadTimeDays: 0
        '404':
          description: Product not found
        '401':
          description: Unauthorized - invalid or missing authentication token
  /orders:
    get:
      operationId: listOrders
      summary: Applied Industrial Technologies - List Orders
      description: Returns a list of purchase orders for the authenticated account
      tags:
        - Orders
      responses:
        '200':
          description: A list of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
              examples:
                ListOrdersExample:
                  x-microcks-default: true
                  summary: Example orders list response
                  value:
                    data:
                      - orderId: ORD-2026-0001
                        status: shipped
                        totalAmount: 125.00
                        createdAt: "2026-04-01T10:00:00Z"
        '401':
          description: Unauthorized - invalid or missing authentication token
    post:
      operationId: createOrder
      summary: Applied Industrial Technologies - Create Order
      description: Creates a new purchase order for industrial products
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            examples:
              CreateOrderExample:
                x-microcks-default: true
                summary: Example order creation request
                value:
                  items:
                    - productId: AIT-BRG-6205
                      quantity: 10
                  shippingAddress:
                    street: 1 Applied Way
                    city: Cleveland
                    state: OH
                    zip: "44114"
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request body
        '401':
          description: Unauthorized - invalid or missing authentication token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Product:
      title: Product
      description: An industrial product in the Applied Industrial Technologies catalog
      type: object
      properties:
        productId:
          type: string
          description: Unique product identifier
        partNumber:
          type: string
          description: Manufacturer part number
        name:
          type: string
          description: Product name
        description:
          type: string
          description: Detailed product description
        category:
          type: string
          description: Product category
        manufacturer:
          type: string
          description: Product manufacturer
        price:
          type: number
          description: Unit price in USD
        inStock:
          type: boolean
          description: Whether the product is currently in stock
        leadTimeDays:
          type: integer
          description: Estimated lead time in days when not in stock
    Order:
      title: Order
      description: A purchase order for industrial products
      type: object
      properties:
        orderId:
          type: string
          description: Unique order identifier
        status:
          type: string
          enum: [pending, processing, shipped, delivered, cancelled]
          description: Current order status
        totalAmount:
          type: number
          description: Total order amount in USD
        createdAt:
          type: string
          format: date-time
          description: Order creation timestamp
    OrderRequest:
      title: OrderRequest
      description: Request body for creating a new purchase order
      type: object
      properties:
        items:
          type: array
          description: Line items in the order
          items:
            type: object
            properties:
              productId:
                type: string
                description: Product identifier
              quantity:
                type: integer
                description: Quantity to order
        shippingAddress:
          type: object
          description: Shipping destination address
          properties:
            street:
              type: string
              description: Street address
            city:
              type: string
              description: City
            state:
              type: string
              description: State abbreviation
            zip:
              type: string
              description: ZIP code
